:root{
  --cor-0: #04142C;
  --cor-1: #082044;
  --cor-2: #12305E;
  --cor-3: #1B3D71;
  --cor-4: #2A4E85;
  --cor-5: #3D66A3;
  --cor-6: #5980B9;
  --cor-7: #7B9CCF;
  --cor-8: #8BA2C5;
  --cor-9: #99B6E3;
  --cor-10: #BBD3F7;
  --cor-11: #C8DEFF;
  --cor-12: #C8E3FF;
  --cor-13: #DDEEFF;
  --cor-14: #F0F8FF;
  --cor-15: #F7F8F9;
  /*cor-p*/
  --cor-p1: #F5C751;
  --cor-p2: #E8B637;
  --cor-p3: #D7A627;
  --cor-p4: #AC800D;
  --cor-p5: #A07400;
  --cor-p6: #8C5E02;
  --cor-p7: #734D02;
  --cor-p8: #4A2F00;
}
.cor-0{
  color: var(--cor-0);
}
.cor-4{
  color: var(--cor-4);
}
.cor-8{
  color: var(--cor-8);
}
.cor-9{
  color: var(--cor-9);
}
.cor-10{
  color: var(--cor-10);
}
.cor-14{
  color: var(--cor-14);
}
.cor-14bg{
  background-color: var(--cor-14);
}
.cor-p1{
  color: var(--cor-p1);
}
.cor-p8{
  color: var(--cor-p8);
}